.mint-navbar {
    height: 40px;
    border-bottom: 1px solid #ccc;
}
.mint-navbar .mint-tab-item {
    padding: 13px 0;
}
.mint-tab-item-label {
    font-size: 15px;
}
.mint-navbar .mint-tab-item.is-selected {
    border-bottom-color: #d43c33;
    color: #d43c33;
}
.mt-cell{
  display: inline-block;
}
.mint-cell-wrapper {
  line-height: normal;
}
.mint-cell-title {
  padding: 6px 0;
}
.mint-cell-text{
  font-size: 17px;
}
.mint-cell-label {
  margin: 0;
}
